{% extends 'base.njk' %}

{% block title %}
  Your repo groups
{% endblock %}

{% block content %}
  <h1>Your repo groups</h1>

  {% for errorMsg in errors %}
    <p>Error: {{ errorMsg }}</p>
  {% endfor %}

  <a href="/groups/new">Create a group</a>

  <ul>
    {% for group in groups %}
      <li>
        <a href="/groups/{{ group.id }}">{{ group.name }}</a>
      </li>
    {% endfor %}
  </ul>

  {% if not groups %}
    <p>
      You don't have any groups.
    </p>
  {% endif %}
{% endblock %}
